.slide-container {
    overflow: hidden;
    width: 100%;
    height: 100%; /* Adjust as needed */
    position: fixed;
    top: 0;
    left: -100%; /* Start off the screen to the right */
    transition: left 0.25s ease;
    
  }
  
  .slide-visible {
    left: 0; /* Slide in */
  }

  /* @media (min-width:800px){
    .slide-container{
      display: none;
    }
  } */
  